
<div class="actions">
  <button class="edit" (click)="lock=!lock">{{ lock ? 'Edit' : 'Done' }}</button> 
</div>
<hr>
<div class="edit-table">
  <button *ngIf="!lock" [disabled]="lock" class="add-row-button" (click)="addRow()">
    Add row
  </button>
  <button *ngIf="!lock"  [disabled]="lock" class="add-col-button" (click)="addCol()">
    Add column
  </button>
  <button *ngIf="!lock"  [disabled]="lock" class="delete-table" (click)="this.table = null">Delete Table</button>
</div>
<div class="external">
  <div>
    <label [for]="external">External table:</label>
    <input class="external-table" type="text" #external>
    <button (click)="apply(external.value, external)" class="apply-external-button" [disabled]="!external.value">Apply</button>
  </div>
  <div>
    <textarea #cp type="text" class="copy-input"></textarea>
    <button (click)="copy(cp)">Copy table</button>
  </div>
</div>
<div class="table">
  <div *ngFor="let row of table;let r=index" class="row">
    <div class="cell" *ngFor="let cell of row;let c=index">
        <div *ngIf="r === 0" class="col-actions">
          <button *ngIf="!lock" class="remove-col-button" (click)="removeCol(c)">Remove</button>
        </div>
        <input type="text" [(ngModel)]="table[r][c].val">
    </div>
    <div class="row-actions">
      <button *ngIf="!lock"  [disabled]="lock" class="remove-row-button" (click)="this.table.splice(r,1)">Remove</button>
    </div>
  </div>
</div>
